<div class="container">
	<div class="page-header">
	  <h1>Profile<small id="edit-user" onclick="loadEditProfile()" style="cursor:pointer;"></small></h1> <!-- Only edit if user, or have admin privelage -->
	</div>

	<div class="row">
	  <div class="col-sm-6 col-md-4">
	    <div class="thumbnail">
		<img id="profile-img" src="" alt="avatar"> 
	      <div class="caption">
	        <h3 id="profile-name"></h3>
	        <p id="profile-email"></p>
	        <p id="profile-description"></p>
	        <!-- Admin & Super admin privelages-->
	        <p id="profile-height"></p>
	        <p id="profile-width"></p>
	        <p id="profile-mostViewed"></p>
	       	<p id="profile-device"></p>
	       	<p id="profile-ip"></p>
	       	<p id="profile-os"></p>
	       	<p id="profile-location"></p>	       		       		    
	        <p id="admin-privelages" class="btn-toolbar"> 
	        </p> 
	      </div>
	    </div>
	  </div>
	</div>
</div>