
/* ==========================================================================
PAGE 1: HOME
========================================================================== */
#banner {
    font-family: 'Montserrat', serif;
    font-size: 48px;
}

/* ==========================================================================
I. HOME - Hero (PICTURE)
========================================================================== */
.hero {
    position: relative;
    padding: 60px 0 60px 0;
    min-height: 800px;
    background: rgb(40, 70, 102) url('../img/hero-01.jpg') no-repeat center center;
    background-size: cover;
    color: #fff;
}
.hero h1 {
    margin: 200px 0 45px 0;
    font-weight: 300;
    font-size: 45px;
}

.hero h2 {
    margin: 75px 0 45px 0;
}
.hero h1 span {
    display: inline-block;
    color: #a1a9b0;
}

#home {
    width: 100%;
    height: 100%;
}
.hero {
    width: 100%;
    height: 100%;
}
header i {
    margin-left: 5px
}

/* ==========================================================================
II. HOME - Video
========================================================================== */
.video i {
    margin-right: 10px;
    color: #323a45;
    vertical-align: middle;
    font-size: 50px;
    -webkit-transition: color 300ms ease-in-out;
    transition: color 300ms ease-in-out;
}
.video h1 {
    font-weight: 400;
    font-size: 20px;
}
.video {
    padding: 20px 0;
    color: #323a45;
    font-size: 20px;
}
.video a {
    color: #323a45
}
a:hover, .video a:focus {
    color: #73d0da;
    text-decoration: none;
}
a:hover i, .video a:focus i {
    color: #73d0da
}

/* ==========================================================================
III. HOME - Buttons
========================================================================== */
.use-btn {
    display: inline-block;
    margin: 0 10px 10px 0;
    padding: 20px 50px;
    border-radius: 3px;
    background-color: #fff;
    color: #4b98a9;
    font-size: 16px;
}
.use-btn:hover, .use-btn:focus {
    background-color: #73d0da;
    color: #fff;
    text-decoration: none;
}
.learn-btn, .download-btn {
    display: inline-block;
    padding: 18px 46px;
    border: 2px solid #fff;
    border-radius: 3px;
    color: #fff;
    font-size: 16px;
}
.learn-btn:hover, .download-btn:hover, .learn-btn:focus, .download-btn:focus {
    border-color: #73d0da;
    color: #73d0da;
    text-decoration: none;
}
.read-more-btn {
    display: inline-block;
    color: #323a45;
    text-transform: uppercase;
    font-weight: 400;
}
.read-more-btn i, .download-btn i {
    margin-left: 5px
}
.showcase .download-btn {
    margin-top: 50px
}
.download .download-btn {
    margin-top: 25px
}

/* ==========================================================================
III. Login - Forms
========================================================================== */
.form-signin {
    max-width: 330px;
    /*padding: 15px;*/
    margin: 150px auto;
}
.form-signin .form-signin-heading{
    margin-bottom: 10px;
}

.form-width {
    position: relative;
    height: auto;
    box-sizing: border-box;
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
}

a.new {
    float: right;
    margin: 10px 13px 0 0;
}

/* ==========================================================================
III. Main
========================================================================== */

/* Hide for mobile, show later */
.sidebar {
    display: block;
    background-color: #EEE;
    padding: 20px;
}
@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #EEE;
        border-right: 1px solid #eee;
    }
}

.main {
    padding: 20px;
}
@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}
.main .page-header {
    margin-top: 0;
}