extends layout
block content
    h1= title
    p Welcome to #{title}
    div
        button
            a(href='http://localhost:3000/login') Login
    div
        button(action="")
            a(href='http://localhost:3000/sign_up') Sign Up
