//
   Created by franklai on 15-11-05.

extends layout
block content
    form#login_form
        label Email
        input#email(name='email', placeholder='abc')
        label Password
        input#password(name='password', placeholder='def')
        input(type='submit', value='submit')


    script.

        // For serializing form data
        $.fn.serializeObject = function () {
            var o = {};
            var a = this.serializeArray();
            $.each(a, function () {
                if (o[this.name] !== undefined) {
                    if (!o[this.name].push) {
                        o[this.name] = [o[this.name]];
                    }
                    o[this.name].push(this.value || '');
                } else {
                    o[this.name] = this.value || '';
                }
            });
            return o;
        };
        $(document).ready(function () {

            // Handler for login form submit and tracking user's geoLocation and UserAgent
            $('#login_form').on('submit', function (e) {
                e.preventDefault();
                var myForm = $(this);
                var dataSerialized = myForm.serializeObject();


                // Track user's info
                dataSerialized.userAgent = navigator.userAgent;
                var options = {
                    enableHighAccuracy: true,
                    timeout: 5000,
                    maximumAge: 0
                };

                function error(err) {
                    console.warn('ERROR(' + err.code + '): ' + err.message);
                    $.ajax({
                        type: 'POST', url: window.location.origin + "/login",
                        data: dataSerialized
                    }).done(function (resJson) {
                        if (resJson.status == 200) {
                            sessionStorage.setItem('ticket', resJson.ticket);
                            sessionStorage.setItem('email', resJson.email);
                            window.location.assign(window.location.origin + "/dashboard?ticket=" + resJson.ticket);
                        } else {
                            alert("User not found");
                            myForm.trigger('reset');
                        }
                    });
                };

                navigator.geolocation.getCurrentPosition(function (pos) {
                    var crd = pos.coords;
                    dataSerialized.position = {};
                    dataSerialized.position.latitude = crd.latitude;
                    dataSerialized.position.longitude = crd.longitude;
                    $.ajax({
                        type: 'POST', url: window.location.origin + "/login",
                        data: dataSerialized
                    }).done(function (resJson) {
                        if (resJson.status == 200) {
                            sessionStorage.setItem('ticket', resJson.ticket);
                            sessionStorage.setItem('email', resJson.email);
                            window.location.assign(window.location.origin + "/dashboard?ticket=" + resJson.ticket);
                        } else {
                            alert("User not found");
                            myForm.trigger('reset');
                        }
                    });

                }, error, options);


            })
        });

