<% include ../partials/head %>
<% include ../partials/nav_logged_in %>

<body>
<div id="signupbox" style="margin-top:100px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">Edit Profile</div>
            <div style="float:right; font-size: 85%; position: relative; top:-10px; cursor:pointer"></div>
        </div>
        <div class="panel-body">

            <form id="editForm" class="form-horizontal">

                <div class="form-group">
                    <label for="email" class="col-md-3 control-label">Email</label>

                    <div id="editUsername" class="col-md-9"><%= email %></div>
                </div>


                <div class="form-group">
                    <label for="displayname" class="col-md-3 control-label">Name</label>

                    <div class="row">
                        <div class="col-xs-4">
                            <input value=<%=dispName%> type="text" class="form-control" name="dispName" placeholder="Display Name" required>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="displayname" class="col-md-3 control-label">Image</label>

                    <div class="col-md-9">
                        <input value= <%=imgPath%> type="text" class="form-control" name="imgPath"
                               placeholder="Gravatar URL: http://www.gravatar.com/avatar/00000000000000000000000000000000">
                    </div>
                </div>

                <div class="form-group">
                    <label for="old-password" class="col-md-3 control-label">Password</label>

                    <div class="col-md-9">
                        <input type="password" class="form-control" name="oldPassword" placeholder="Current Password">
                    </div>
                </div>

                <div class="form-group">
                    <label for="password" class="col-md-3 control-label">New Password</label>

                    <div class="col-md-9">
                        <input type="password" class="form-control" name="password" placeholder="Password">
                    </div>
                </div>

                <div class="form-group">
                    <label for="password-confirm" class="col-md-3 control-label"></label>

                    <div class="col-md-9">
                        <input type="password" class="form-control" name="password-confirm"
                               placeholder="Confirm Password">
                    </div>
                </div>

                <div class="form-group">

                    <!-- Button -->
                    <div class="col-md-offset-3 col-md-9">
                        <button id="update" class="btn btn-success"><i class="icon-hand-right"></i>Update
                        </button>
                        <button type="reset" class="btn btn-danger"><i class="icon-hand-right"></i>Cancel</button>
                    </div>

                </div>

            </form>

        </div>
    </div>

</div>

<script>
    
    // Sending data to upate the data
    $('#update').click(function (e) {
      e.preventDefault();
      var edit = {
        "email": $('#editUsername').text(),
        "dispName": "",
        "imgPath" : "",
        "oldPassword" : "",
        "newPassword" : "",
        "newPasswordConfirm": ""
      }

      var editData = $("#editForm").serializeArray();
      console.log(editData);

      for (i = 0; i < editData.length; i++) {

        if(editData[i].name == "dispName") {
          edit.dispName += editData[i].value;
        }
        if(editData[i].name == "imgPath") {
          edit.imgPath = editData[i].value;
        }
        if(editData[i].name == "oldPassword") {
          edit.oldPassword = editData[i].value;
        }
        if(editData[i].name == "password") {
          edit.newPassword = editData[i].value;
        }

        if(editData[i].name == "password-confirm") {
            edit.newPasswordConfirm = editData[i].value;
        }
      }

        console.log(JSON.stringify(edit));

        $.ajax({
            url: '/user/' + $('#editUsername').text() + "/edit",
            type: 'POST',
            contentType: 'application/json',
            dataType: 'json',
            data: JSON.stringify(edit),
            success: function (data) {
                $('.alert').remove();
                $('body').prepend("<div class='alert alert-success' role='alert'>Successfully updated!</div>");
            },

            fail: function () {
                console.log("failed!");
                $('.main').html("comment cannot be removed");
            }
        });
    })
</script>

</body>