<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>
<body>
<% include ../partials/nav %>

<section class="hero">
    <div class="texture-overlay"></div>
    <div class="container">
        <div class="row hero-content">
            <div class="col-md-12">
                <h1 class="animated fadeInDown" id="banner">Education Can Happen<br>Anywhere.</h1>
                <a href="/signup" class="use-btn animated fadeInUp">SIGN UP</a>
                <a href="/login" class="learn-btn animated fadeInUp">LOGIN</a><br>
                <h2 class="animated fadeInLeft"><a href="http://www.youtube.com/embed/9No-FiEInLA?autoplay=1&wmode=opaque&fs=1" class="video fancybox.iframe"><i class="glyphicon glyphicon-play-circle"></i> Watch the Video</a></h2>
            </div>
        </div>
    </div>
</section>

</body>
</html>