<% include ../partials/head %>

<% include ../partials/nav %>

<body>
  <div id="home">
      <div class="jumbotron">
        <div class="container">
            <h1 id="front-page-header"><span style="color:#c80909">Pro</span>files.</h1>
          <div class="btn-group btn-group-justified" role="group" aria-label="">
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-default" onclick="loadLogin()">Login</button>
              </div>
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-default" onclick="loadRegister()">Register</button>
              </div>
          </div>
        </div>
      </div> 
  </div> 
</body>