<!DOCTYPE html>
<html lang="en">
<head>

    <!--Netbeans favicon-->
    <link rel="shortcut icon" href="">

    <!-- Boostrap compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

    <!--jQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    <!--scalable vector icons-->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Body font -->
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700,500' rel='stylesheet' type='text/css'>
    <!-- Add fancyBox -->
    <link rel="stylesheet" href="css/jquery.fancybox.css" type="text/css" media="screen" />
    <script type="text/javascript" src="js/jquery.fancybox.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $(".video").fancybox({
                maxWidth	: 800,
                maxHeight	: 600,
                fitToView	: false,
                width		: '70%',
                height		: '70%',
                autoSize	: false,
                closeClick	: false,
                openEffect	: 'none',
                closeEffect	: 'none'
            });
        });
    </script>

    <link href="css/animate.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type=text/css" href="css/style.css" />

</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!--<div class="header">-->
        <!--<ul class="nav nav-pills navbar-right">-->
        <!--<li role="presentation"><a href="/login" class="btn btn-default btn-margin">LOGIN</a></li>-->
        <!--<li role="presentation"><a href="/signup" class="btn btn-default btn-margin">SIGN UP</a></li>-->
        <!--</ul>-->
        <!--</div>-->
        <a class="navbar-brand" href="/"><span style="color:#c80909">Pro</span>files</a>
    </div>
</nav>

<section class="hero">
    <div class="texture-overlay"></div>
    <div class="container">
        <div class="row hero-content">
            <div class="col-md-12">
                <h1 class="animated fadeInDown">Education Can Happen<br>Anywhere.</h1>
                <a href="/signup" class="use-btn animated fadeInUp">SIGN UP</a>
                <a href="/login" class="learn-btn animated fadeInUp">LOGIN</a><br>
                <h1 class="animated fadeInLeft"><a href="http://www.youtube.com/embed/9No-FiEInLA?autoplay=1&wmode=opaque&fs=1" class="video fancybox.iframe"><i class="fa fa-play-circle-o"></i> Watch the Video</a></h1>
            </div>
        </div>
    </div>
</section>

</body>
</html>