<% include ../partials/head %>

<% include ../partials/nav %>

<body>
<div id="home">
    <div class="jumbotron">
        <div class="container">
            <h1 id="front-page-header"><span style="color:#c80909">Pro</span>files.</h1>
            <div class="btn-group btn-group-justified" role="group" aria-label="">
                <div class="btn-group" role="group">
                    <a href="/login" class="btn btn-md btn-default">Sign up</a>
                </div>
                <div class="btn-group" role="group">
                    <a href="/signup" class="btn btn-md btn-default">Sign up</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>