<% include ../partials/head %>

<body>
<% include ../partials/nav_logged_in %>

<div class="container-fluid">
    <div class="row">
        <!-- SEARCH MENU AND CLASSES -->
        <div class="col-sm-3 col-md-3 sidebar">
            <div class="input-group input-group-md">

                <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                <select class="select2 form-control" style="width: 100%">
                    <option value=""></option>
                </select>
                <script>
                    $(document).on('change', 'select', function() {
                        var $text = $('.select2-selection__rendered').text();
                        $.ajax({
                            type: "GET",
                            url: "./" + $text,
                            dataType: 'json',
                            success: function(data) {
                                var msg = '<button type="button" class="list-group-item">data.title</button>'

                                $('.list-group').append(msg);
                            },
                            fail: function() {
                            }
                        });
                    });
                </script>
            </div>

            <!-- List of Classes -->
            <div class="list-group" style="margin-top: 20px">
                <form method="POST">
                    <button type="submit" class="list-group-item" value="CSC309">CSC309: Programming on the Web</button>
                    <button type="submit" class="list-group-item" value="CSC309">CSC309: Programming on the Web</button>
                    <button type="submit" class="list-group-item" value="CSC309">CSC309: Programming on the Web</button>
                </form>
                <!-- Active class added when clicked -->
                <script>
                    $('.list-group-item').click(function(e) {
                        e.preventDefault();
                        var $this = $(this);
                        if (!$this.hasClass('active')) {
                            // remove all other active buttons
                            $(".list-group-item").each(function () {$(this).removeClass('active')});
                            $this.addClass('active');
                        }

                        $.ajax({
                            type: "GET",
                            url: "/course",
                            timeout: 2000,
                            dataType: 'json',
                            success: function(data) {
                                var msg = '<h2>Courses</h2>';
                                $.each(data, function(i, json) {
                                    $.each($.parseJSON(json), function(key, val) {
                                        msg += '<div class="' + key + '">' + key + ': ' + val + '</div>';
                                    });
                                });

                                $('.main').html(msg);
                            },
                            fail: function() {
                                $('.main').html("failed loading courses");
                            }
                        });
                    });
                </script>
            </div>
        </div>

        <!-- RIGHT SIDE OF THE PAGE -->
        <div class="col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3 main" style="margin-top: 50px;">
            <button type="submit" id="create" class="btn btn-warning" style="margin: 15px 15px 30px 15px;">Create thread</button>


            <!-- CREATE A NEW THREAD -->
            <form class="form-horizontal" id="myForm">

                <!-- First Name & Last Name -->
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Name</label>
                    <div class="row">
                        <div class="col-sm-2">
                            <input type="text" class="form-control" placeholder="First Name" name="author_first_name">
                        </div>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" placeholder="Last Name" name="author_last_name">
                        </div>
                    </div>
                </div>


                <!-- Availability -->
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Availability</label>
                    <div class="row">
                        <div class="col-sm-2">
                            <input type="text"  class="form-control from" placeholder="Start Time" name="start_time">
                        </div>
                        <div class="col-sm-2">
                            <input type="text"  class="form-control to" placeholder="End Time" name="end_time">
                        </div>
                    </div>
                </div>

                <!-- John's Code
                <p id="basicExample">
                    <input type="text" class="date start" />
                    <input type="text" class="time start" /> to
                    <input type="text" class="time end" />
                    <input type="text" class="date end" />
                </p>-->
                <!-- Title -->
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Title</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="inputPassword3" placeholder="Looking for..." name="title">
                    </div>
                </div>

                <!-- Price -->
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Price</label>
                    <div class="col-sm-5">
                        <input type="text"  class="form-control" placeholder="$" name="price">
                    </div>
                </div>

                <!-- Description -->
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Description</label>
                    <div class="col-sm-5">
                        <textarea class="form-control" rows="3" name="description"></textarea>
                    </div>
                </div>

                <!-- Tutor or Tutee-->
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="radio">
                            <label>
                                <input type="radio" name="tutor" id="optionsRadios1" value="option1" checked>
                                I'm a tutor
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="tutee" id="optionsRadios2" value="option2">
                                I'm looking for a tutor
                            </label>
                        </div>
                    </div>
                </div>

                <!-- Submit -->
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button id="submitReq" type="submit" class="btn btn-primary">Create</button>
                        <button type="reset" class="btn btn-default">Reset</button>
                    </div>
                </div>
            </form>
            <!-- CREATE THREAD END -->


            <div class="panel panel-default ">

                <div class="panel-heading">
                    &nbsp
                <div style="float:left;">
                    <h3 class="panel-title">Looking for (tutor / tuttee)</h3>
                </div>


                <div style="float:right;">
                    <h3 class="panel-title">Time Created:</h3>
                </div>
                </div>

                <div class="panel-body">
                    <!-- Thread fields -->

                    <!-- Name and email -->
                    <div class="col-lg-4">
                        <h6>Example name (example email)</h6>
                    </div>

                    <!-- Price -->
                    <div class="col-lg-4">
                        <h6>Price:</h6>
                    </div>

                    <!-- Availability -->
                    <div class="col-lg-4">
                        <h6>Availability:</h6>
                    </div>

                    <!-- Description -->
                    <div class="col-lg-12">
                        <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>

                    <!-- Respond to thread-->
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Type in your response...">
                        <span class="input-group-btn">
                            <button class="btn btn-default glyphicon glyphicon-comment" type="button"></button>
                        </span>
                    </div><!-- /input-group -->

                    <!-- Comments!-->
                    <div class="panel-footer" style="margin-top: 20px;">
                        
                        <p><a>Sexy Beast (sexybeast@hotmail.com)</a> created on 11/23/2015 5:00 PM</p>
                        
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

                        <button type="button" class="btn btn-danger">Delete</button>
                        
                    </div>

                    <div class="panel-footer" style="margin-top: 20px;">
                        
                        <p><a>Sexy Beast (sexybeast@hotmail.com)</a> created on 11/23/2015 5:00 PM</p>
                        
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        /* Hide and Show Create Thread */
        var count = 0;
        if (count == 0) $(".form-group").hide();
        $("#create").click(function () {
            count++;
            if (count % 2 == 0) $(".form-group").hide();
            else $(".form-group").show();
        });

        /* Submit Form */
        $('#submitReq').click(function(e) {
            e.preventDefault();
            $.ajax({
                type: "POST",
                url: "/thread/csc309",
                timeout: 2000,
                dataType: 'json',
                data: $('#myForm').serialize(),
                success: function(data) {
                    $('.main').html($.parseJSON(data));
                },
                fail: function() {
                    $('.main').html("failed loading data");
                }
            });
        });

    });


</script>
</body>