<% include ../partials/head %>

<body>
<% include ../partials/nav_logged_in %>

<div class="container-fluid">
    <div class="row">
        <!-- SEARCH MENU AND CLASSES -->
        <div class="col-sm-3 col-md-3 sidebar">
            <div class="input-group input-group-md">

                <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                <select class="select2 form-control" style="width: 100%">
                    <option></option>
                </select>
                <script>
//                    $(document).on('change', 'select', function() {
//                        var $text = $('.select2-selection__rendered').text();
//                        var $email = $('#user-nav').attr('href');
//
//                        $.ajax({
//                            type: "PUT",
//                            url: $email,
//                            dataType: 'json',
//                            data: {courseCode: $text},
//                            success: function(data) {
//                                var msg = '<button type="button" class="list-group-item">' + data.status + '</button>'
//                                $('#courses').append(msg);
//                            },
//                            fail: function() {
//                            }
//                        });
//                    });
                </script>
            </div>

            <!-- List of Classes -->

            <div class="list-group" style="margin-top: 20px">
                <form id="courses">
                    <button type="submit" class="list-group-item" value="CSC309">CSC309: Programming on the Web</button>
                    <button type="submit" class="list-group-item" value="CSC309">CSC309: Programming on the Web</button>
                    <button type="submit" class="list-group-item" value="CSC309">CSC309: Programming on the Web</button>

                    <script> 
                        courses = <%- courses %>;
                        for (var i = 0; i < courses.length; i++) {
                            $('#courses').append("<button type='submit' class='list-group-item' value=" + courses[i].courseCode + ">" + courses[i].courseCode + ": " + courses[i].courseName + "</button>");
                        }
                    </script>

                    <!-- Active class added when clicked -->
                    <script>
                        $('.list-group-item').click(function(e) {
                            e.preventDefault();
                            var $this = $(this);
                            if (!$this.hasClass('active')) {
                                // remove all other active buttons
                                $(".list-group-item").each(function () {$(this).removeClass('active')});
                                $this.addClass('active');
                            }

                            console.log($(this).attr('value'));
                            $.ajax({
                                type: "GET",
                                url: "/thread/" + $(this).val(),
                                timeout: 2000,
                                dataType: 'json',
                                success: function(data) {

                                    threads = data.allThreadsFromCourse
                                    console.log(threads);
                                    $( "#all_threads" ).empty()

                                    for (i = 0; i < threads.length; i++) {
                                        console.log(threads[i]);

                                        $("#all_threads").append("<div class='panel panel-default' id='" + threads[i].id +"'><div class='panel-heading'>&nbsp<div style='float:left;'><h3 class='panel-title'> Looking for " + threads[i].status + "</h3></div><div style='float:right;'><h3 class='panel-title'>" + threads[i].title + "</h3></div></div><div class='panel-body'><div class='col-lg-4'><h6>" + threads[i].author + "</h6></div><div class='col-lg-4'><h6>"+ threads[i].price + "</h6></div><div class='col-lg-4'><h6>"+ threads[i].startTime + "to" + threads[i].endTime +"</h6></div><div class='col-lg-12'><p>" + threads[i].description + "</p></div><div class='input-group'><input id='response' type='text' class='form-control' placeholder='Type in your response...'><span class='input-group-btn'><button class='btn btn-default glyphicon glyphicon-comment' type='button'></button></span></div>");

                                    }
                                },
                                fail: function() {
                                    $('.main').html("failed loading courses");
                                }
                            });
                        });
                    </script>
                </form>
            </div>
        </div>

        <!-- RIGHT SIDE OF THE PAGE -->
        <div class="col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3 main" style="margin-top: 50px;">

            <button type="submit" id="create" class="btn btn-warning" style="margin: 15px 15px 30px 15px;">Create thread</button>


            <!-- CREATE A NEW THREAD -->
            <form class="form-horizontal" id="myForm">

                <!-- First Name & Last Name -->
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Name</label>
                    <div class="row">
                        <div class="col-sm-2">
                            <input type="text" class="form-control" placeholder="First Name" name="author_first_name">
                        </div>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" placeholder="Last Name" name="author_last_name">
                        </div>
                    </div>
                </div>


                <!-- Availability -->
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Availability</label>
                    <div class="row">
                        <div class="col-sm-2">
                            <input type="text"  class="form-control from" placeholder="Start Time" name="start_time">
                        </div>
                        <div class="col-sm-2">
                            <input type="text"  class="form-control to" placeholder="End Time" name="end_time">
                        </div>
                    </div>
                </div>

                <!-- John's Code
                <p id="basicExample">
                    <input type="text" class="date start" />
                    <input type="text" class="time start" /> to
                    <input type="text" class="time end" />
                    <input type="text" class="date end" />
                </p>-->
                <!-- Title -->
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Title</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="inputPassword3" placeholder="Looking for..." name="title">
                    </div>
                </div>

                <!-- Price -->
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Price</label>
                    <div class="col-sm-5">
                        <input type="text"  class="form-control" placeholder="$" name="price">
                    </div>
                </div>

                <!-- Description -->
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Description</label>
                    <div class="col-sm-5">
                        <textarea class="form-control" rows="3" name="description"></textarea>
                    </div>
                </div>

                <!-- Tutor or Tutee-->
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="radio">
                            <label>
                                <input type="radio" name="status" id="optionsRadios1" value="tutor" checked>
                                I'm a tutor
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="status" id="optionsRadios2" value="tuttee">
                                I'm looking for a tutor
                            </label>
                        </div>
                    </div>
                </div>

                <!-- Submit -->
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button id="submitReq" type="submit" class="btn btn-primary">Create</button>
                        <button type="reset" class="btn btn-default">Reset</button>
                    </div>
                </div>
            </form>
            <!-- CREATE THREAD END -->

            <div id="all_threads">
                <!-- A THREAD -->
                <div class="panel panel-default" id="thread-example">

                    <div class="panel-heading">
                            &nbsp
                        <div style="float:left;">
                            <h3 class="panel-title"><!--Looking for (tutor / tuttee)--></h3>
                        </div>


                        <div style="float:right;">
                            <h3 class="panel-title"><!--Time Created:--></h3>
                        </div>
                    </div>

                    <div class="panel-body">
                        <!-- Thread fields -->

                        <!-- Name and email -->
                        <div class="col-lg-4">
                            <h6><!-- Name (Email)--></h6>
                        </div>

                        <!-- Price -->
                        <div class="col-lg-4">
                            <h6><!--Price:--></h6>
                        </div>

                        <!-- Availability -->
                        <div class="col-lg-4">
                            <h6><!--Availability:--></h6>
                        </div>

                        <!-- Title -->
                        <div class="col-lg-12">
                            <h6><!-- Title --></h6>
                        </div>

                        <!-- Description -->
                        <div class="col-lg-12">
                            <p><!-- Description goes here --></p>
                        </div>

                        <!-- Respond to thread-->
                        <div class="input-group">
                            <input id="response" type="text" class="form-control" placeholder="Type in your response...">
                            <span class="input-group-btn">
                                <button class="btn btn-default glyphicon glyphicon-comment" type="button"></button>
                            </span>
                        </div>
                        <script>
                            $( "#thread-example" ).hide();
                        </script>
                        <!-- Comments!-->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {

        /* Hide and Show Create Thread */
        var count = 0;
        if (count == 0) $(".form-group").hide();
        $("#create").click(function () {
            count++;
            if (count % 2 == 0) $(".form-group").hide();
            else $(".form-group").show();
        });

        /* View threads in a class */
        $()


        /* Submit Thread */
        $('#submitReq').click(function(e) {
            e.preventDefault();

            // new_thread = "<div class='panel panel-default' id='" + "ID" +"'><div class='panel-heading'>&nbsp<div style='float:left;'><h3 class='panel-title'> Looking for " + "STATUS" + "</h3></div><div style='float:right;'><h3 class='panel-title'>" + "THREAD TITLE" + "</h3></div></div><div class='panel-body'><div class='col-lg-4'><h6>" + "NAME(EMAIL)" + "</h6></div><div class='col-lg-4'><h6>"+ "THREAD PRICE" + "</h6></div><div class='col-lg-4'><h6>"+ "THREAD AVAILABILITY" +"</h6></div><div class='col-lg-12'><p>" + "THREAD DESCRIPTION" + "</p></div><div class='input-group'><input id='response' type='text' class='form-control' placeholder='Type in your response...'><span class='input-group-btn'><button class='btn btn-default glyphicon glyphicon-comment' type='button'></button></span></div>";

            // $('.main').append(new_thread);

            //$( "#thread-example" ).hide();

            
            $.ajax({
                type: "POST",
                url: "/thread/" + $(".active").val(),
                timeout: 2000,
                dataType: 'json',
                data: $('#myForm').serialize(),
                success: function(data) {
                    console.log(data);
                    new_thread = "<div class='panel panel-default' id='" + "ID" + "'><div class='panel-heading'>&nbsp<div style='float:left;'><h3 class='panel-title'> Looking for " + "STATUS" + "</h3></div><div style='float:right;'><h3 class='panel-title'>" + "TIME CREATED" + "</h3></div></div><div class='panel-body'><div class='col-lg-4'><h6>" + "NAME(EMAIL)" + "</h6></div><div class='col-lg-4'><h6>"+ "THREAD PRICE" + "</h6></div><div class='col-lg-4'><h6>"+ "THREAD AVAILABILITY" +"</h6></div><div class='col-lg-12'><h4>" + "THREAD TITLE" + "</h4></div><div class='col-lg-12'><p>" + "THREAD DESCRIPTION" + "</p></div><div class='input-group'><input id='response' type='text' class='form-control' placeholder='Type in your response...'><span class='input-group-btn'><button class='btn btn-default glyphicon glyphicon-comment' type='button'></button></span></div>";

                    $('#all_threads').prepend(new_thread);
                },
                fail: function() {
                    // $('.main').html("failed loading data");
                }
            }); 
            

        });
        
        /* Comment button that populated a thread with a comment */
        $('body').on('click', '.glyphicon-comment', function() {

            var response = "<div class='panel-footer' style='margin-top: 20px;'><p><a>Sexy Beast (sexybeast@hotmail.com)</a> created on 11/23/2015 5:00 PM</p><p>" + $(this).parent().prev('#response').val() + "</p><button type='button' class='btn btn-danger btn-comment'>Delete</div>"

            console.log($(this).parent())
            $(this).closest(".panel-body").append(response);
            $('#response').val('');

            /* KEEP WORKING ON THIS LATER
            $.ajax({
                type: "POST",
                url: "/comment/"
                dataType: 'json',
                data: {
                    author: NEED INJECTION FROM NAV BAR
                    response: $('#response').val()
                },
                success: function(data) {

                },

                fail: function() {

                }

            });*/
        });

        /* Delete button that will delete the comment */
        $('body').on('click', '.btn-comment', function() {
            $(this).parents("div:first").remove();
            /* =========================== UNCOMMENT WHEN BACK-END CATCHES UP
            $.ajax({
                type: "DELETE",
                url: "/comment/comment_id",
                timeout: 2000,
                success: function(data) {
                    $(this).parents("div:first").remove();
                },
                fail: function() {
                    $('.main').html("comment cannot be removed");
                }

            }); */
    });
    

    });


</script>
</body>