<% include ../partials/head %>

<body>
<% include ../partials/nav_logged_in %>
<div class="container-fluid">
    <div class="row">
        <!-- SEARCH MENU AND CLASSES -->
        <div class="col-sm-3 col-md-3 sidebar">
            <div class="input-group input-group-md">

                <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                <select class="select2 form-control" style="width: 100%">
                    <option value=""></option>
                </select>
                <script>
                    $(document).on('change', 'select', function() {
                        var $text = $('.select2-selection__rendered').text();
                        $.ajax({
                            type: "GET",
                            url: "./" + $text,
                            dataType: 'json',
                            success: function(data) {
                                var msg = '<button type="button" class="list-group-item">data.title</button>'

                                $('.list-group').append(msg);
                            },
                            fail: function() {
                            }
                        });
                    });
                </script>
            </div>

            <!-- List of Classes -->
            <div class="list-group" style="margin-top: 20px">
                <button type="button" class="list-group-item">CSC309: Programming on the Web</button>
                <button type="button" class="list-group-item">CSC263: Data Structures and Algorithms</button>
                <button type="button" class="list-group-item">FUK100: i am ass</button>
                <button type="button" class="list-group-item">FUK200: you are ass</button>
                <button type="button" class="list-group-item">FUK300: sex no sex</button>

                <!-- Active class added when clicked -->
                <script>
                    $('.list-group-item').click(function(e) {
                        var $this = $(this);
                        if (!$this.hasClass('active')) {
                            // remove all other active buttons
                            $(".list-group-item").each(function () {$(this).removeClass('active')});
                            $this.addClass('active');
                        }
                        e.preventDefault();
                    });
                </script>
            </div>

        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3 main">

            <!-- CREATE A NEW THREAD -->
            <form class="form-horizontal">

            <!-- First Name & Last Name -->
              <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">Name</label>
                <div class="row">
                  <div class="col-sm-2">
                    <input type="text" class="form-control" placeholder="First Name">
                  </div>
                  <div class="col-sm-2">
                    <input type="text" class="form-control" placeholder="Last Name">
                  </div>
                </div>
              </div>

            <!-- Availability -->
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Availability</label>
            <div class="row">
                <div class="col-sm-2">
                    <input type="text"  class="form-control from" placeholder="Start Time">
                </div>
                <div class="col-sm-2">
                    <input type="text"  class="form-control to" placeholder="End Time">
                </div>
            </div>
           </div>

            <!-- John's Code
            <p id="basicExample">
                <input type="text" class="date start" />
                <input type="text" class="time start" /> to
                <input type="text" class="time end" />
                <input type="text" class="date end" />
            </p>--> 
              <!-- Title -->
              <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">Title</label>
                <div class="col-sm-5">
                  <input type="text" class="form-control" id="inputPassword3" placeholder="Looking for...">
                </div>
              </div>

            <!-- Price -->
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Price</label>
            <div class="col-sm-5">
                <input type="text"  class="form-control" placeholder="$">
            </div>
          </div>


            <!-- Description -->
              <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">Description</label>
                <div class="col-sm-5">
                    <textarea class="form-control" rows="3"></textarea>
                </div>
              </div>

              <!-- Tutor or Tutee-->
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="radio">
                      <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                        I'm a tutor
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                        I'm looking for a tutor
                      </label>
                    </div>
                </div>
              </div>

            <!-- Submit -->
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-default">Submit Thread</button>
                </div>
              </div>
            </form>
            <!-- THREAD END -->
        </div>
    </div>
</div>
</body>