<% include ../partials/head %>

<body>
<% include ../partials/nav_logged_in %>

<div class="container-fluid">
    <div class="row">
        <!-- SEARCH MENU AND CLASSES -->
        <div class="col-sm-3 col-md-3 sidebar">
            <div class="input-group input-group-md">

                <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                <select class="select2 form-control" style="width: 100%">
                    <option></option>
                </select>
                <script>
                    var $eventSelect = $(".select2");
                    $eventSelect.on("select2:select", function (e) { log("select2:select", e); });

                    function log (name, evt) {
                        if (!evt) {
                            var args = "{}";
                        } else {
                            var args = JSON.stringify(evt.params, function (key, value) {
                                if (value && value.nodeName) return "[DOM node]";
                                if (value instanceof $.Event) return "[$.Event]";
                                return value;
                            });
                        }
                        var $email = $('#user-nav').attr('href');

                        var courseCode = JSON.parse(args).data['courseCode'];
                        var courseName = JSON.parse(args).data['courseName']

                        $.ajax({
                            type: "POST",
                            url: "/course/" + courseCode,
                            dataType: 'json',
                            data: {courseCode: courseCode},
                            success: function(data) {
                                if (data.status != 409) {
                                    var msg = '<button type="submit" class="list-group-item" value=' + courseCode + '><span id="close">x</span>  ' + courseCode + ': ' + courseName + '</button>'
                                    $('#courses').prepend(msg);
                                }
                            },
                            fail: function() {
                            }
                        });
                        $(".select2").val('').trigger('change');
                    }

                    //                    if (status.courseCode != undefined) {
                    //                        var $text = $('.select2-selection__rendered').text();
                    //                        var $email = $('#user-nav').attr('href');
                    //                        $.ajax({
                    //                            type: "PUT",
                    //                            url: $email,
                    //                            dataType: 'json',
                    //                            data: {courseCode: $text},
                    //                            success: function(data) {
                    //                                var msg = '<button type="submit" class="list-group-item" value=' + status.courseCode + '>' + status.courseCode + ': ' + status.courseName + '</button>'
                    //                                $('#courses').prepend(msg);
                    //                            },
                    //                            fail: function() {
                    //                            }
                    //                        });
                    //                        $(".select2").val('').trigger('change');
                    //                    }

                    //                    $(document).on('change', 'select', function() {
                    //                        var $text = $('.select2-selection__rendered').text();
                    //                        var $email = $('#user-nav').attr('href');
                    //
                    //                        $.ajax({
                    //                            type: "PUT",
                    //                            url: $email,
                    //                            dataType: 'json',
                    //                            data: {courseCode: $text},
                    //                            success: function(data) {
                    //                                var msg = '<button type="button" class="list-group-item">' + data.status + '</button>'
                    //                                $('#courses').append(msg);
                    //                            },
                    //                            fail: function() {
                    //                            }
                    //                        });
                    //                    });
                </script>
            </div>

            <!-- List of Classes -->

            <div class="list-group" style="margin-top: 20px">
                <form id="courses">

                    <script>
                        courses = <%- courses %>;
                        for (var i = 0; i < courses.length; i++) {
                            $('#courses').prepend("<button type='submit' class='list-group-item' value=" + courses[i].courseCode + "><span id='close'>x</span>  " + courses[i].courseCode + ": " + courses[i].courseName + "</button>");
                        }
                    </script>

                    <!-- Active class added when clicked -->
                    <script>
                        $('body').on('click', '.list-group-item', function(e) {
                            e.preventDefault();
                            var $this = $(this);
                            if (!$this.hasClass('active')) {
                                // remove all other active buttons
                                $(".list-group-item").each(function () {$(this).removeClass('active')});
                                $this.addClass('active');
                                $('.suggested-ads').remove();
                            }

                            $.ajax({
                                type: "GET",
                                url: "/thread/" + $(this).val(),
                                timeout: 2000,
                                dataType: 'json',
                                success: function(data) {

                                    threads = data.allThreadsFromCourse
                                    $( "#all_threads" ).empty()

                                    for (i = 0; i < threads.length; i++) {

                                        if (threads[i].byAuthor) {
                                            var thread = "<div class='panel panel-default' id='" + threads[i]._id +"'><div class='panel-heading'>&nbsp<div style='float:left;'><h3 class='panel-title'>I am a " + threads[i].status + "</h3></div><div style='float:right;'><h3 class='panel-title'> id: " + threads[i]._id + "</h3></div></div><div class='panel-body'><div class='col-lg-4'><h6>Author: </h6><a href='/user/" + threads[i].author.email + "'>" + threads[i].author.email + "</a></div><div class='col-lg-2'><h6>" + "Price:</h6>" + "$" + threads[i].price + "</div><div class='col-lg-6'><h6>Date Available: </h6>"+ threads[i].startTime + " to " + threads[i].endTime + "</div><div class='col-lg-12'><p><h3><i><b>" + threads[i].title + "</b></i></h3>" + threads[i].description + "<p><button type='button' class='btn btn-danger btn-thread'>Close Ad</button></p>" + "</p></div><div class='input-group'><input id='response' type='text' class='form-control' placeholder='Type in your response...'><span class='input-group-btn'><button class='btn btn-default glyphicon glyphicon-comment' type='button'></button></span></div>"
                                        } else {
                                            var thread = "<div class='panel panel-default' id='" + threads[i]._id +"'><div class='panel-heading'>&nbsp<div style='float:left;'><h3 class='panel-title'>I am a " + threads[i].status + "</h3></div><div style='float:right;'><h3 class='panel-title'> id: " + threads[i]._id + "</h3></div></div><div class='panel-body'><div class='col-lg-4'><h6>Author: </h6><a href='/user/" + threads[i].author.email + "'>" + threads[i].author.email + "</a></div><div class='col-lg-2'><h6>" + "Price:</h6>" + "$" + threads[i].price + "</div><div class='col-lg-6'><h6>Date Available: </h6>"+ threads[i].startTime + " to " + threads[i].endTime + "</div><div class='col-lg-12'><p><h3><i><b>" + threads[i].title + "</b></i></h3>" + threads[i].description +  "</p></div><div class='input-group'><input id='response' type='text' class='form-control' placeholder='Type in your response...'><span class='input-group-btn'><button class='btn btn-default glyphicon glyphicon-comment' type='button'></button></span></div>"
                                        }


                                        console.log(threads[i].comments);

                                        for (y = 0; y < threads[i].comments.length; y++) {
                                            if(threads[i].comments[y].byAuthor) {
                                                var comment = "<div id=" + threads[i].comments[y]._id + " class='panel-footer' style='margin-top: 20px;'><p><a href='/user/" + threads[i].comments[y].author.email + "'>" + threads[i].comments[y].author.email + "</a> created on "+ threads[i].comments[y].creationTime + "</p><p>" + threads[i].comments[y].response + "</p><button type='button' class='btn btn-warning btn-comment'>Delete Reply</button></div>"
                                            } else {
                                                var comment = "<div id=" + threads[i].comments[y]._id + " class='panel-footer' style='margin-top: 20px;'><p><a href='/user/" + threads[i].comments[y].author.email + "'>" + threads[i].comments[y].author.email + "</a> created on "+ threads[i].comments[y].creationTime + "</p><p>" + threads[i].comments[y].response + "</p></div>"

                                            }
                                            thread += comment

                                        }
                                        console.log(thread);
                                        $("#all_threads").prepend(thread);
                                    }
                                },
                                fail: function() {
                                    $('.main').html("failed loading courses");
                                }
                            });
                        });
                    </script>
                </form>
            </div>
        </div>

        <!-- RIGHT SIDE OF THE PAGE -->
        <div class="col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3 main" style="margin-top: 50px;">

            <button type="submit" id="create" class="btn btn-primary" style="margin: 15px 15px 30px 15px;">Create Ad</button>


            <!-- CREATE A NEW THREAD -->
            <form class="form-horizontal" id="myForm">

                <!-- Availability -->
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Availability</label>
                    <div class="row">
                        <div class="col-sm-2">
                            <input type="text"  class="form-control from" placeholder="Start Time" name="start_time" required>
                        </div>
                        <div class="col-sm-2">
                            <input type="text"  class="form-control to" placeholder="End Time" name="end_time" required>
                        </div>
                    </div>
                </div>

                <!-- John's Code
                <p id="basicExample">
                    <input type="text" class="date start" />
                    <input type="text" class="time start" /> to
                    <input type="text" class="time end" />
                    <input type="text" class="date end" />
                </p>-->
                <!-- Title -->
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Title</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="inputPassword3" placeholder="Title of thread" name="title" required>
                    </div>
                </div>

                <!-- Price -->
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Price</label>
                    <div class="col-sm-5">
                        <input type="number"  class="form-control" placeholder="$" name="price" required>
                    </div>
                </div>

                <!-- Description -->
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Description</label>
                    <div class="col-sm-5">
                        <textarea class="form-control" rows="3" name="description"></textarea>
                    </div>
                </div>

                <!-- Tutor or Tutee-->
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="radio">
                            <label>
                                <input type="radio" name="status" id="optionsRadios1" value="tutor" checked>
                                I'm a tutor
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="status" id="optionsRadios2" value="tuttee">
                                I'm looking for a tutor
                            </label>
                        </div>
                    </div>
                </div>

                <!-- Submit -->
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button id="submitReq" type="submit" class="btn btn-success">Create</button>
                        <button type="reset" class="btn btn-warning">Reset</button>
                    </div>
                </div>
            </form>

            <div id="all_threads">
                <!-- A THREAD -->
                <div class="panel panel-default" id="thread-example">

                    <div class="panel-heading">
                        &nbsp
                        <div style="float:left;">
                            <h3 class="panel-title"><!--Looking for (tutor / tuttee)--></h3>
                        </div>


                        <div style="float:right;">
                            <h3 class="panel-title"><!--Time Created:--></h3>
                        </div>
                    </div>

                    <div class="panel-body">
                        <!-- Thread fields -->

                        <!-- Name and email -->
                        <div class="col-lg-4">
                            <h6><!-- Name (Email)--></h6>
                        </div>

                        <!-- Price -->
                        <div class="col-lg-4">
                            <h6><!--Price:--></h6>
                        </div>

                        <!-- Availability -->
                        <div class="col-lg-4">
                            <h6><!--Availability:--></h6>
                        </div>

                        <!-- Title -->
                        <div class="col-lg-12">
                            <h6><!-- Title --></h6>
                        </div>

                        <!-- Description -->
                        <div class="col-lg-12">
                            <p><!-- Description goes here --></p>
                        </div>

                        <!-- Respond to thread-->
                        <div class="input-group">
                            <input id="response" type="text" class="form-control" placeholder="Type in your response...">
                            <span class="input-group-btn">
                                <button class="btn btn-default glyphicon glyphicon-comment" type="button"></button>
                            </span>
                        </div>
                        <script>
                            $( "#thread-example" ).hide();
                        </script>
                        <!-- Comments!-->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function() {

        /* Show suggested post */
        $.ajax({
            type: "GET",
            url: "/thread/getSuggestions",
            timeout: 2000,
            dataType: 'json',
            success: function(data) {
                $('.main').prepend();
                threads = data.suggestedThreads;
                $( "#all_threads" ).empty()
                console.log(threads);
                console.log(data);

                if (threads == undefined) {
                    threads = [];
                }

                for (i = 0; i < threads.length; i++) {

                    if (threads[i].byAuthor) {
                        var thread = "<div class='panel panel-info' id='" + threads[i]._id +"'><div class='panel-heading'>&nbsp<div style='float:left;'><h3 class='panel-title'>I am a " + threads[i].status + "</h3></div><div style='float:right;'><h3 class='panel-title'> id: " + threads[i]._id + "</h3></div></div><div class='panel-body'><div class='col-lg-4'><h6>Author: </h6><a href='/user/" + threads[i].author.email + "'>" + threads[i].author.email + "</a></div><div class='col-lg-2'><h6>" + "Price:</h6>" + "$" + threads[i].price + "</div><div class='col-lg-6'><h6>Date Available: </h6>"+ threads[i].startTime + " to " + threads[i].endTime + "</div><div class='col-lg-12'><p><h3><i><b>" + threads[i].title + "</b></i></h3>" + threads[i].description + "<p><button type='button' class='btn btn-danger btn-thread'>Close Ad</button></p>" + "</p></div><div class='input-group'><input id='response' type='text' class='form-control' placeholder='Type in your response...'><span class='input-group-btn'><button class='btn btn-default glyphicon glyphicon-comment' type='button'></button></span></div>"

                    } else {
                        console.log(threads[i]);
                        var thread = "<div class='panel panel-info' id='" + threads[i]._id +"'><div class='panel-heading'>&nbsp<div style='float:left;'><h3 class='panel-title'>I am a " + threads[i].status + "</h3></div><div style='float:right;'><h3 class='panel-title'> id: " + threads[i]._id + "</h3></div></div><div class='panel-body'><div class='col-lg-4'><h6>Author: </h6><a href='/user/" + threads[i].author.email + "'>" + threads[i].author.email + "</a></div><div class='col-lg-2'><h6>" + "Price:</h6>" + "$" + threads[i].price + "</div><div class='col-lg-6'><h6>Date Available: </h6>"+ threads[i].startTime + " to " + threads[i].endTime + "</div><div class='col-lg-12'><p><h3><i><b>" + threads[i].title + "</b></i></h3>" + threads[i].description +  "</p></div><div class='input-group'></div>"
                    }
                    console.log(thread);
                    $("#all_threads").prepend(thread);
                }
                $('.main').prepend("<h1 style='margin-bottom: 50px' class='suggested-ads'>Suggested Ads:</h1>")
            },
            fail: function() {
                $('.main').html("failed loading courses");
            }
        });

        /* Hide and Show Create Thread Button*/
        $('#create').hide();
        $('body').on('click', '.list-group-item', function() {
            $('#create').show();
        })

        /* Hide and Show Thread Submit Form */
        var count = 0;
        if (count == 0) $(".form-group").hide();
        $('body').on('click', '#create', function () {
            count++;
            if (count % 2 == 0) $(".form-group").hide();
            else $(".form-group").show();
        });

        $('body').on('click', '#close', function(){
            $form = $(this).closest('form');
            $button = $(this).closest('button');

            $.ajax({
                type: "DELETE",
                url: "/course/" + $(this).closest('button').attr('value'),
                success: function(data) {
                    window.location.reload();
                },
                fail: function() {
                }
            });
        })

        /* View threads in a class */
        $()


        /* Submit Thread */
        $('#submitReq').click(function(e) {
            e.preventDefault();

            $.ajax({
                type: "POST",
                url: "/thread/" + $(".active").val(),
                timeout: 2000,
                dataType: 'json',
                data: $('#myForm').serialize(),
                success: function(data) {

                    console.log(data.data);
                    new_thread = "<div class='panel panel-default' id='" + data.data._id +"'><div class='panel-heading'>&nbsp<div style='float:left;'><h3 class='panel-title'>I am a " + data.data.status + "</h3></div><div style='float:right;'><h3 class='panel-title'> id: " + data.data._id + "</h3></div></div><div class='panel-body'><div class='col-lg-4'><h6>Author: </h6><a href='/user/" + data.data.author.email + "'>" + data.data.author.email + "</a></div><div class='col-lg-2'><h6>" + "Price:</h6>" + "$" + data.data.price + "</div><div class='col-lg-6'><h6>Date Available: </h6>" + data.data.startTime + " to " + data.data.endTime + "</div><div class='col-lg-12'><p><h3><i><b>" + data.data.title + "</b></i></h3>" + data.data.description + "</p></div>" + "<p><button type='button' class='btn btn-danger btn-thread'>Close Ad</button></p>" + "<div class='input-group'><input id='response' type='text' class='form-control' placeholder='Type in your response...'><span class='input-group-btn'><button class='btn btn-default glyphicon glyphicon-comment' type='button'></button></span></div>";


                    $('#all_threads').prepend(new_thread);
                },
                fail: function() {
                    // $('.main').html("failed loading data");
                }
            });


        });

        /* Comment button that populated a thread with a comment */
        $('body').on('click', '.glyphicon-comment', function() {

            var thread = $(this).closest(".panel-body");

            $.ajax({
                type: "POST",
                url: "/comment/" + $(this).parents(".panel-default").attr("id"),
                dataType: 'json',
                data: {response: $(this).parent().prev('#response').val()},
                success: function(data) {
                    console.log(data);
                    var response = "<div id=" + data.data._id + " class='panel-footer' style='margin-top: 20px;'><p><a href='/user/" + data.data.author.email + "'>" +  data.data.author.email + "</a> created on "+ data.data.creationTime + "</p><p>" + data.data.response + "</p><button type='button' class='btn btn-warning btn-comment'>Delete Reply</div>";

                    thread.append(response);
                    $('#response').val('');

                },

                fail: function() {

                }

            });
        });

        /* Delete button that will delete the comment */
        $('body').on('click', '.btn-comment', function() {

            comment = $(this).parents("div:first");

            console.log($(this).parents("div:first").attr('id'))

            $.ajax({
                type: "DELETE",
                url: "/comment/" + $(this).parents("div:first").attr('id'),
                success: function(data) {
                    comment.remove();
                },
                fail: function() {
                    $('.main').html("comment cannot be removed");
                }
            });
        });

        /* Delete button that will delete a thread */
        $('body').on('click', '.btn-thread', function() {
            thread = $(this).parents(".panel");

            $.ajax({
                type: "DELETE",
                url: "/thread/" + thread.attr("id"),
                success: function(data) {
                    thread.remove();
                },
                fail: function() {
                    $('.main').html("comment cannot be removed");
                }
            });
        });


    });


</script>
</body>